@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-RegularItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Light.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ExtraLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 800;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 800;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Black.woff') format('woff');
}
@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 900;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-BlackItalic.woff') format('woff');
}
